<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/favicon.png" type="image/png" size="32x32">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title%></title>
</head>
<body>
     <!-- Creating the navigation of the website -->
         <nav>
            <div class="container">
                <ul>
                    <li onClick="window.location.reload()" style="cursor:pointer;">Advocate Platform</li>
                    <li class="goright"><a href="/logout">Sign Out</a></li>
                    <li class="gooright"><%= username %></li>
                </ul>
            </div>
         </nav>
   <section id="Components">
        <div class="container">

            <form action="/content/<%= deviceID%>" method="POST">

                <!-- Begginig Of the Displaying Boxes -->
            <div id="box" style="margin-top: 10vh;">
              <input type="checkbox" name="uptime" value="Agreed" id="a">
              <label style="font-size: 20px;"><%= uptime %></label>
            </div>
            

        </div>
        <input type="submit" class="create" name="submit" value="Accept Contract" style="margin-top: 40px;">
    </form>
    </section>


        

  
</body>
</html>