<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/favicon.png" type="image/png" size="32x32">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="index-page">
      <div class="container">
        <h1>Welcome to <%= title %></h1><br>
        <!--<a href="/registration" class="register">Register</a><br><br><br>-->
          <a href="/registration" ><input type="button" name="register" class="register" value="Account Register"></a><br>
          <a href="/login" ><input type="button" name="login" class="login" value="Login"></a><br>
    </div>
  </section>
  <section id="notes">
      <div class="container">
          <h2>Useful Notes</h2>
          <p>User Account: username:user , password: password <br>Company Account: username:company , password: password
          </p>
      </div>
  </section>
  </body>
</html>
