<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/images/favicon.png" type="image/png" size="32x32">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
<!--Creating the UI of Registration Page-->
  <div id="register">
    <div class="container">
      <form action="/registration" method="post">
          <input type="email" id="email" name="email" class="text" placeholder="Email Address"/><br><br>
          <input type="text" id="username" class="text" placeholder="Username"><br><br>
          <input type="password" id="password" name="password" class="text" placeholder="Password"/><br><br>
          <input type="submit" id="create" name="Submit" class="create" value="Save"/><br><br>
      </form> 
  </div>
</div>
</body>
</html>
