body{
  margin:0;
  padding:0;
  overflow:none;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
.container{
  width: 70%;
  margin:auto;
  overflow: hidden;
}
#register{
  text-align:center;
  margin-top: 270px;  
}

#register .text{
  width: 250px;
  height: 45px;
  background-color:#dae2df ;
  color: grey;
  padding-left: 20px;
  border-radius: 4px;
  border:1px;
  margin-top:20px;
  outline-color:#0E0E68;
}
.create{
  width: 250px;
  height: 45px;
  background-color: #0E0E68;
  border:1px;
  border-radius: 4px;
  cursor: pointer;
  outline:none;
  color: white;
  transition: .3s ease-in-out;
  margin-top: 20px;
}
.create:hover{
  width: 270px;
}
#index-page{
  text-align:center;
  margin-top: 200px;
}
#index-page h2{
  background-color: black;
}
