body{
      margin:0;
      padding:0;
      overflow:hidden;
}
a {
      color: #00B7FF;
      text-decoration: none;
}
a:hover{
      color: orangered;
}
.container{
      width: 70%;
      margin:auto;
      overflow: hidden;
}
#register{
      text-align:center;
      margin-top: 270px;
}

#register .text{
      width: 250px;
      height: 45px;
      background-color:#dae2df ;
      color: grey;
      padding-left: 20px;
      border-radius: 4px;
      border:1px;
      margin-top:20px;
      outline-color:#0E0E68;
}
.create{
      width: 250px;
      height: 45px;
      background-color: #0E0E68;
      border:1px;
      border-radius: 4px;
      cursor: pointer;
      outline:none;
      color: white;
      transition: .3s ease-in-out;
      margin-top: 20px;
}
.create:hover{
    width: 270px;

}
#index-page{
    text-align:center;
    margin-top: 200px;
    width: 100%;
    height: 400px;
}
#index-page h2{
    background-color: black;
    margin-top: 50px;
}
#error-webapp{
    text-align: center;
    margin-top: 150px;
}
.register{
    margin-top: 100px;
}
.login {
    margin-top: 50px;
    outline: none;
}
