body{
      margin:0;
      padding:0;
      background-color: #f4f4f9;
}
a {
      /* color: #f46841; */
      color: white;
      text-decoration: none;
}
a:hover{
      /* color: orangered; */
      color: white;
}
.container{
      width: 70%;
      margin:auto;
      overflow: hidden;
}
#register{
      text-align:center;
      margin-top: 230px;
}

 .text{
      width: 250px;
      height: 45px;
      background-color:#dae2df ;
      color: grey;
      padding-left: 20px;
      border-radius: 4px;
      border:1px;
      margin-top:20px;
      outline-color:#f46841;
}
.create{
      width: 250px;
      height: 45px;
      background-color: #f46841;
      border:1px;
      border-radius: 4px;
      cursor: pointer;
      outline:none;
      color: white;
      transition: .3s ease-in-out;
      margin-top: 20px;
}
.create:hover{
    width: 270px;
}
#index-page{
    text-align:center;
    margin-top: 200px;
    width: 100%;
    height: 400px;

}
#index-page h2{
    background-color: black;
    margin-top: 50px;

}
#error-webapp{
    text-align: center;
    margin-top: 150px;
}
.register{
    width: 250px;
    height: 50px;
    background-color: #f46841;
    cursor: pointer;
    border: 1px;
    border-radius:5px;
    transition: .3s ease-in-out;
    color: white;
}.register:hover{width:270px;}/*Hovering the button*/
.login {
    margin-top: 20px;
    outline: none;
    width: 250px;
    height: 50px;
    background-color: #f46841;
    border: 1px;
    color: white;
    border-radius:5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}.login:hover{width:270px;} /*Hovering the button*/
#login-page{
    text-align:center;
    margin-top: 250px;
}
/*Handling the error style*/
#error-webapp{
    margin-top: 170px;
    text-align:center;
}
#error-webapp h1 {
    color: #f46841;
    margin-top: 50px;
    font-size: 40px;
}
#error-webapp h2{
    color: #b3b3b3;
    font-size: 17px;
    margin-top: -15px;
}#notes{
     color: #f46841;
     margin-top: -170px;
     border:1px solid #d3d3d3;
     width:40%;
     text-align:center;
     margin-left: 30%;
     height: auto;
     position:relative;
     margin-bottom: 50px;
     bottom: -40px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     box-shadow:0 0 2px 0 #d3d3d3;
 }#notes h2{text-align: center;margin-top:45px;}
 #notes p{
     text-align: center;
 }


 /* ------------------Dashboard--------------- */
 nav{
     width: 100%;
     min-height: 50px;
     background-color:#f46841; 
     box-shadow:0 0 3px 0 black;
 }
 nav ul{
     list-style: none;
 }
 nav ul li{
     display: inline;
     padding: 15px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
     color:white;
    }
 nav ul .goright{
     float: right;
     cursor: pointer;
     margin-top: -15px;
     font-size: 20px;
     color: white;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 nav ul .gooright{
    float: right;
    margin-top: -15px;
    font-size: 20px;
    color: white;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 #Components{
     border:1px solid lightgrey;
     margin-top: 40px;
     width: 90%;
     text-align:center;
     margin-left: 5%;
     float: left;
     height: 70vh;
     border-radius: 3px;
     background-color: white;
     box-shadow: 0 0 2px 0 darkgrey;
     overflow-y:scroll; 
 }

 #add_component{
    width: 150px;
    height: 45px;
    background-color: #f46841;
    border:1px;
    border-radius: 4px;
    cursor: pointer;
    outline:none;
    color: white;
    transition: .3s ease-in-out;
    margin-top: 100px;
    float: left;
    box-shadow: 0 0 2px 0 black;
    margin-left: 5px;
    margin-bottom: 5px;
 }

 /* The Creation of add component */
 .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* creating the modal of the Item List Page */
.upload{
width: 250px;
height: 45px;
background-color:#dae2df ;
color: grey;
border-radius: 4px;
border:1px;
margin-top:20px;
outline-color:#f46841;
}
.pop_contract_content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
    height: 270px;
    display: block;
    text-align:center;
    border-radius: 3px;
    border-radius:5px;
}




/* Modal Content/Box */
.componentbox_content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
    height: 270px;
    display: block;
    text-align:center;
    border-radius: 3px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#box{
    width: 100%;
    text-align: center;
    
   
    
}
.Items{
    list-style-type: none;    
    
}
.Items #listedItems{
    
    margin-right: 40px;
    border:1px solid lightgrey;
    border-radius:5px;
}
.Items #listedItems:hover{
    box-shadow: 0 0 2px 0 grey;
}
   
 




