body{
      margin:0;
      padding:0;
}
a {
      color: #00B7FF;
      text-decoration: none;
}
a:hover{
      color: orangered;
}
.container{
      width: 70%;
      margin:auto;
      overflow: hidden;
}
#register{
      text-align:center;
      margin-top: 230px;
}

 .text{
      width: 250px;
      height: 45px;
      background-color:#dae2df ;
      color: grey;
      padding-left: 20px;
      border-radius: 4px;
      border:1px;
      margin-top:20px;
      outline-color:#0E0E68;
}
.create{
      width: 250px;
      height: 45px;
      background-color: #0E0E68;
      border:1px;
      border-radius: 4px;
      cursor: pointer;
      outline:none;
      color: white;
      transition: .3s ease-in-out;
      margin-top: 20px;
}
.create:hover{
    width: 270px;

}
#index-page{
    text-align:center;
    margin-top: 200px;
    width: 100%;
    height: 400px;

}
#index-page h2{
    background-color: black;
    margin-top: 50px;

}
#error-webapp{
    text-align: center;
    margin-top: 150px;
}
.register{
    width: 250px;
    height: 50px;
    background-color: #f46841;
    cursor: pointer;
    border: 1px;
    border-radius:5px;
    transition: .3s ease-in-out;
    color: white;
}.register:hover{width:270px;}/*Hovering the button*/
.login {
    margin-top: 20px;
    outline: none;
    width: 250px;
    height: 50px;
    background-color: #f46841;
    border: 1px;
    color: white;
    border-radius:5px;
    transition: .3s ease-in-out;
    cursor: pointer;
}.login:hover{width:270px;} /*Hovering the button*/
#login-page{
    text-align:center;
    margin-top: 250px;
}
/*Handling the error style*/
#error-webapp{
    margin-top: 170px;
    text-align:center;
}
#error-webapp h1 {
    color: #f46841;
    margin-top: 50px;
    font-size: 40px;
}
#error-webapp h2{
    color: #b3b3b3;
    font-size: 17px;
    margin-top: -15px;
}#notes{
     color: #f46841;
     margin-top: -170px;
     border:1px solid #d3d3d3;
     width:600px;
     text-align:center;
     margin-left: 380px;
     height: 170px;
     position:relative;
     margin-bottom: 50px;
     bottom: -40px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     box-shadow:0 0 2px 0 #d3d3d3;
 }#notes h2{text-align: center;margin-top:45px;}
 #notes p{
     text-align: center;
 }



